/* ─────────────────────────────────────────────
   Tema rofi · Paleta mínima — mono + acento violeta
   Uso: rofi -show drun -theme ~/.config/rofi-mono.rasi
   ───────────────────────────────────────────── */

configuration {
  show-icons:          true;
  icon-theme:          "Papirus-Dark";
  drun-display-format: "{icon}  {name}";
  display-drun:        "apps";
  display-run:         "run";
  display-window:      "win";
  modi:                "drun,run,window";
}

* {
  bg:        #16161D;
  bg-alt:    #16161D;
  bg-soft:   #16161D;
  fg:        #DCD7BA;
  fg-muted:  #54546D;
  accent:    #957FB8;
  accent-2:  #957FB8;
  urgent:    #C34043;
  dark:      #16161D;

  background-color: transparent;
  text-color:       @fg;
  font:             "Iosevka Nerd Font 12";
}

window {
  background-color: @bg;
  border:           1px;
  border-color:     @accent;
  border-radius:    10px;
  width:            36%;
  padding:          0;
}

mainbox {
  children: [ inputbar, listview ];
  padding:  12px;
  spacing:  10px;
}

inputbar {
  background-color: @bg-alt;
  border-radius:    6px;
  padding:          10px 12px;
  spacing:          10px;
  children:         [ prompt, entry ];
}

prompt {
  text-color: @accent;
  str:        "❯";
}

entry {
  text-color:        @fg;
  placeholder:       "search…";
  placeholder-color: @fg-muted;
}

listview {
  columns:      1;
  lines:        7;
  fixed-height: false;
  scrollbar:    false;
  spacing:      3px;
}

element {
  padding:       7px 12px;
  border-radius: 4px;
  spacing:       12px;
  text-color:    @fg;
}

element normal urgent { text-color: @urgent; }
element normal active  { text-color: @accent-2; }

element selected {
  background-color: @accent;
  text-color:       @dark;
}
element selected urgent {
  background-color: @urgent;
  text-color:       @dark;
}

element-icon {
  size:           1.3em;
  vertical-align: 0.5;
}

element-text {
  vertical-align: 0.5;
  text-color:     inherit;
}
